In [4]:

import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ajha7\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
pip install chardet

Requirement already satisfied: chardet in c:\users\ajha7\appdata\local\programs\python\python312\lib\site-packages (5.2.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

dataset = pd.read_csv("tweeter.csv", encoding="ISO-8859-1")

In [8]:
dataset.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [9]:
dataset.shape

(1599999, 6)

In [10]:
import pandas as pd

column_name = ['target', 'id', 'date', 'flag', 'user', 'text']
dataset = pd.read_csv("tweeter.csv", names=column_name, encoding="ISO-8859-1")

In [11]:
dataset.shape

(1600000, 6)

In [12]:
dataset.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [13]:
dataset.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [14]:
dataset['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [15]:
dataset.replace({'target':{4:1}}, inplace=True)

In [16]:
dataset['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

In [17]:
port_stem = PorterStemmer()

In [18]:
def stemming(content):

    stemmed_content = re.sub(r'[^A-Za-z]', ' ', content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word)for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [ ]:
dataset['stemmed_content'] = dataset['text'].apply(stemming)

In [ ]:
print(dataset['stemmed_content'])

In [ ]:
print(dataset['target'])

In [ ]:
X = dataset['stemmed_content']
y = dataset['target'].values

In [ ]:
print(X)
print(y)

In [ ]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
print(X.shape, X_train.shape,X_test.shape)

In [ ]:
print(X_test)

In [ ]:
##converting text data into numerical data

vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [ ]:
print(X_train)

In [ ]:
##logestic regression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

In [ ]:
##accuracy score
X_train_pred = model.predict(X_train)
training_data_accuracy = accuracy_score(y_train, X_train_pred)

In [ ]:
print(training_data_accuracy)

In [ ]:
##accuracy score
X_test_pred = model.predict(X_train)
test_data_accuracy = accuracy_score(y_test, X_test_pred)

In [ ]:
print(test_data_accuracy)

In [ ]:
##pip install pickle5

In [ ]:
import pickle

In [ ]:
filename = 'trained_model.sav'
pickle.dump(model,open(filename, 'wb'))

In [ ]:
loaded_model = pickle.load(open('path','rb'))

In [ ]:
X_new = X_test[200]
print(y_test[200])
prediction = model.predict(X_new)
print(prediction)

if(prediction[0]==0):
    print('negative_test')

else:
    print("positive test")